.Total {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 0 5px 0;
  margin: 0;
  width: 70px;
  text-align: center;
  background: #fff;
}

.Title {
  font-size: 14px;
  font-weight: 200;
  background: #323642;
  margin: 0 0 5px 0;
  padding: 5px 0;
  color: white;
}

.TotalValue {
  font-weight: bold;
  font-size: 20px;
}
