.Total {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    width: 50px;
}

.Title {
    border: 1px solid #ccc;
    text-align: center;
}

.TotalValue {
    border: 1px solid #ccc;
    border-top: none;
    text-align: center;
    font-weight: bold;
    font-size: 31px;
}