.Total {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 0 5px 0;
  margin: 0;
  width: 60px;
  text-align: center;
  background: #fff;
}

.Title {
  font-size: 14px;
  font-weight: bold;
  background: #bdd4de;
  margin: 0 0 5px 0;
  padding: 5px 0;
}

.Value {
  font-weight: bold;
  font-size: 20px;
}
