.Scorecard {
  margin: 0 auto;
  text-align: center;
  position: sticky;
  top: 0px;
  background: #efefef;
}

.Separator {
  margin: 1px;
  visibility: hidden;
}

.Header {
  margin: 0;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

@media (max-width: 620px) {
  .Scorecard {
    width: 100%;
  }
}
