.HoleInput {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 1px 2px #e2e2e2;
  margin: 10px;
  background: #fff;
}

.HoleNumber {
  font-size: 14px;
  margin: 0;
  background: #323642;
  padding: 10px 0;
  color: white;
}

.HoleDetails {
  font-size: 14px;
  margin: 0;
  background: #d7d8db;
  padding: 5px 0 10px 0;
}

.HoleDetails p {
  margin: 0px;
}
