.Input {
  display: block;
  padding: 5px 20px;
  margin: 10px;
}

.Input input {
  width: 40px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #c7c7c7;
}
