.Input {
    display: block;
    padding: 5px 10px;
    margin: 10px;
}

.Input input {
    width: 40px;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    border: 1px solid #444;
}