.HoleScore h4 {
  display: inline-block;
}

.HoleScore {
  background-color: white;
  box-shadow: 0 1px 1px #eee;
  width: 200px;
  margin: 5px;
  padding: 10px;
  display: inline-block;
}
/* 
.Left,
.Right {
  display: inline-block;
} */
/* 
@media (min-width: 600px) {
  .HoleScore {
    width: 400px;
  }
} */
